body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

#shopName {
    position: absolute; 
    display: block;
    width: 300px;
    height: 300px;
    top: 60px;
    left: 270px;
    font-family:  游ゴシック, "Yu Gothic", メイリオ, Meiryo, Verdana, Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: larger;
  }
  
#image img{
  width: 500px;
  height: 400px;
  position: absolute; 
  top: 120px;
  left: 270px;
}

#plantMap {
  position: absolute;
  top:10px;
  left: 790px;
  margin: 10px;
}

.button {
    margin:0px;
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    width: 60%;
    background-color: #b8c2ca;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

#button1 {
    position: absolute;
    top:435px;
    left: 220px;
    margin:0px;
    display: block;
    width: 200px;
    height: 40px;
    background-color: #b8c2ca;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

#button2 {
    position: absolute;
    top:510px;
    left: 220px;
    display: block;
    border: 4px solid #333;
    border-radius: 8px;
    width: 200px;
    height: 40px;
    cursor: pointer;
}
